{% extends "base_generic.html" %}

{% block styles %}
{% load static %}
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}

{% block content %}
<form action=”.” style="display: none;" method=”post”>{% csrf_token %}
</form>
<div class="row">
  <div class="sixteen wide centered column" id="music">
    <audio src="" id="audio"></audio>
  </div>
  <div class="sixteen wide column" id="start_area">
    <div class="ui input">
      <input type="text" id="nickname" placeholder="Input your nickname" value="{{ nickname }}">
    </div>
    <button class="ui inverted button" id="start_btn">Play</button>
  </div>
  <div class="sixteen wide centered column" id="choices">
    <div id="score_txt">
      <span>Score: </span>
      <span id="score">0.00</span>
      <span id="added"></span>
    </div>
    <div id="countdown">10</div>
    <button class="ui button">???</button>
    <button class="ui button">???</button>
    <button class="ui button">???</button>
    <button class="ui button">???</button>
  </div>
  <div class="sixteen wide column" id="final_score">
    <div class="content">
      <div>Final Score:</div>
      <span style="font-size: 5rem;"></span>
      <button class="ui inverted button">Continue</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="centered column link">
    <a href="{% url 'leaderboard' %}" style="color: #fff;">
      <span>Leader Board</span>
      <i class="arrow circle right icon"></i>
    </a>
  </div>
</div>
<div class="row">
  <div class="centered column link">
    <a href="{% url 'addsong' %}" style="color: #fff;">
      <span>Add new song</span>
      <i class="arrow circle right icon"></i>
    </a>
  </div>
</div>
{% endblock %}