body {
    background-color: #00E3E3;
}

.title {
    color: #fff;
    margin-top: 6rem;
}

.title h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
}

.title h3 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.3rem;
    margin-top: 0.5rem;
    text-align: center;
}

#addsong {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    text-align: center;
    width: auto;
}

form {
    text-align: center;
}